#app-wrap{
    width: 100%;
    text-align: center;
}
#keyboard {
    width: 141px;
    display: inline-block;
}

.btn {
    width: 45px;
    height: 45px;
    border: 1px solid #767676;
    background-color: #EFEFEF;
    font-family: monospace;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    user-select: none;
}